<h2 id="KMD_header">Learn</h2>

<p id="KMD_Intro">

	<br/>
	
	<!-- kmd -->
	<a href="#kmd" role="button" class="btn btn-large" data-toggle="modal">WHAT IS KEPLER'S MOVEMENTDASH?</a>
	<a href="#sonification" role="button" class="btn btn-large" data-toggle="modal">WHAT IS SONIFICATION?</a>
	<a href="#stars" role="button" class="btn btn-large" data-toggle="modal">KEPLER'S HEARTBEAT STARS</a>
	 



	<!-- Modals -->
	<div id="kmd" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="kmd_label" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="kmd_label">WHAT IS KEPLER'S MOVEMENTDASH?</h3>
	  </div>
	  <div class="modal-body">
	    <p>KMD is a movement game that allows students to develop intuition about astronomical concepts like gravity, rotation, orbit, and eccentricity in real-time. After logging in, students are taken to their individualized dashboard. Within their dashboard, they can see the concepts/levels that they have tackled and click to replay or concur the next ones. </p>

		<p>Each level exposes the students to one or two new concepts in astronomy. Once the students finish a level they are given an explanation of how their movement matched the phenomena illustrated.</p>
	  </div>
	</div>

	<div id="sonification" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sonification_label" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="sonification_label">WHAT IS SONIFICATION?</h3>
	  </div>
	  <div class="modal-body">
	    <p>"Sonification, a form of auditory display, is the use of non-speech audio to convey information or perceptualize data. Auditory perception has high temporal and pressure resolution, which opens up possibilities for it as an alternative or complement to visualization techniques." (source: wikipedia)</p>
	  </div>
	</div>

	<div id="stars" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="stars_label" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="stars_label">KEPLER'S HEARTBEAT STARS</h3>
	  </div>
	  <div class="modal-body">
	    <p>As the Kepler scientists worked to find exoplanets revolving around the stars they made an unexpected finding: stars that revolve around each other. When planets orbit, gravity dictates their movement. With the stars, the story is the same. However, because stars are made of gas- gravity can distort their shape with more ease. Changes in eccentricity (how much the orbit around a body deviates from a perfect circle) leads to different amounts of time in periastron, the point of least separation between two stars, versus apastron, the point of greatest separation between two stars.</p>

		<p>KMD converts these data sets of Heartbeat star characteristics into sonifications that the user is instructed to move to. Movement during game play of each level describes a characteristic of the Heartbeat stars, such as gravity and mass.</p>

		<p>Astronomers conduct many theoretical computations. For the first time, the thought experiment that orbiting stars undergo RINGING when they cross close by to each other has finally been observed! NASAís Kepler Mission, with itís array of photoresistors has the ability to measure with the precision needed to find and record the 0.007% fluctuations in light that occur when stars ring.</p>

		<p>Kepler movementDash lets you play with the signal that astronomers use to show that their theory was true. Play through the game to learn about the features and computations the astronomers had to do in order to prove that their theory was reality.</p>
	  </div>
	</div>

	<br/>

	<h2>For Instructors</h2>

	<p><a href='http://adsabs.harvard.edu/cgi-bin/nph-data_query?bibcode=2011ApJS..197....4W&db_key=AST&link_type=ABSTRACT&high=4ce40043a401007' target='_blank'>Read about KOI-54</a></p>

	<p><a href='http://adsabs.harvard.edu/cgi-bin/nph-data_query?bibcode=2012ApJ...753...86T&db_key=AST&link_type=ABSTRACT&high=4ce40043a405673' target='_blank'>Read about more of Kepler's Heartbeat Stars</a></p>
</p>


